* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    background-color: #27ae7b
}



body{
    min-height: 100vh;
    display: block;
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(255, 253, 253);
    text-align: center;
}



.cuadro-blanco{
    width: 150vh;
    height: 80vh;
    background-color: white;
    margin: 0px auto;

}



li{
    list-style-type: none;
}

ul li p{
    display: inline;
    margin-left: 160px;
    white-space: nowrap;
    line-height: 150px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.barra{
    width: 5%;
    height: 80%;
    background-color: greenyellow;
}

li p:last-of-type::before{
    content: "😊";
    font-weight: bold;
    font-size: 20px;
    color: rgb(11, 56, 255);
}

li p:last-of-type {
    color: green; 
}
